@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
	margin: 16px;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

h1 {
    font-style: italic;
    font-size: 50px;
    text-align: center;
    color: #0081C9;
}

.header {
    text-align: center;
}
#container {
    width: 90%;
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
}

fieldset {
    width: 355px;
}

.texto {
    width: 380px;
    height: 30px;
    margin-right: 16px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #5BC0F8;
    background: none;
    font-size: 16px;
    margin-bottom: 16px;
}

fieldset {
    border: solid 1px #5BC0F8;
}

.img-id {
    border-radius: 10px;
    border: solid 1px #636363;
    width: 380px;
    margin-top: 18px;
    margin-left: 16px;
}
.img-id img {
    margin-left: 30px;
    width: 340px;
    border-radius: 10px;
}

.texto-no-visible {
    text-align: center;
    margin-left: 30px;
}

.botones {
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 150px;
    height: 36px;
    border: 1px solid #0081C9;
    background: none;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-right: 5px;
}

.secondary-button {
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 150px;
    height: 36px;
    border: none;
    color: #EEEEEE;
    background: #0081C9;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-right: 5px;
}

.botones:hover {
    background-color: #0081C9;
    color: #EEEEEE;
}

.secondary-button:hover {
    background: #5BC0F8;
    color: #3d3d3d;
}

.button-container {
    text-align: center;
  }